* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 85px auto;
    
}

.heading {
    width: 80%;
   text-align: center;
    margin: auto;
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}
.subheading {
    width: 50%;
    margin: 40px auto;
   /*background-color: gray;*/
    text-align: center;
}
.subheading:hover {
    cursor: pointer;
}
#fafa {
    text-decoration: none;
}

.backbutton {
    text-decoration: none;
    font-size: 33px;
    color: gray;
    opacity: 0.9;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/*#back {
    
}*/

.container2 {
    width: 20%;
    height: 360px;
    margin:  auto;
    border: 2px solid rgb(175, 52, 8);
    border-radius: 12px;
   /* background-color: pink;*/
    box-shadow: 8px 8px 5px gray;
    
}

#paris {
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 31px;
    margin-top: 35px;
    text-align: center
}
#line {
    margin-left: 70px;
    margin-top: 10px;
}
.task {
    font-size: 20px ;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
    text-decoration: line-through gray 3px;
    
}
.form{
    margin-left: 30px;
}
.check {
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 40px;
    
}
.pending {
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
    
    opacity: 0.8;

}

.symbol {
     width: 10%;
     position: relative;
     
     top: 70px;
     left: 240px;
     
     
     /* margin-top: 100px ;*/
     /*margin-left: 330px;*/
}
.symbol:hover {
    cursor: pointer;

}
#fafas {
    text-decoration: none;
}
@media(max-width:769px){
    .container{
        width: 90%;
        margin-left: 25px;
    }
    .heading{
        width: 100%;
        font-size: 40px;
        
    }
    .container2{
        
        margin-left: 40px;
        margin-bottom: 20px;
        width: 80%;
    }
    .symbol{
        left: 200px;
        top: 65px;
    }
    .form{
        margin-left: 10px;
    }
    #line{
        margin-left:0px;
    }
}